@import 'tailwindcss';

[data-theme="dark"] {
  --color-alpha-white-10: color-mix(in srgb, var(--gray-dark-950), transparent 10%);
  --color-alpha-white-20: color-mix(in srgb, var(--gray-dark-950), transparent 20%);
  --color-alpha-white-30: color-mix(in srgb, var(--gray-dark-950), transparent 30%);
  --color-alpha-white-40: color-mix(in srgb, var(--gray-dark-950), transparent 40%);
  --color-alpha-white-50: color-mix(in srgb, var(--gray-dark-950), transparent 50%);
  --color-alpha-white-60: color-mix(in srgb, var(--gray-dark-950), transparent 60%);
  --color-alpha-white-70: color-mix(in srgb, var(--gray-dark-950), transparent 70%);
  --color-alpha-white-80: color-mix(in srgb, var(--gray-dark-950), transparent 80%);
  --color-alpha-white-90: color-mix(in srgb, var(--gray-dark-950), transparent 90%);
  --color-alpha-white-100: color-mix(in srgb, var(--gray-dark-950), transparent 100%);

  --color-alpha-black-10: color-mix(in srgb, var(--white), transparent 10%);
  --color-alpha-black-20: color-mix(in srgb, var(--white), transparent 20%);
  --color-alpha-black-30: color-mix(in srgb, var(--white), transparent 30%);
  --color-alpha-black-40: color-mix(in srgb, var(--white), transparent 40%);
  --color-alpha-black-50: color-mix(in srgb, var(--white), transparent 50%);
  --color-alpha-black-60: color-mix(in srgb, var(--white), transparent 60%);
  --color-alpha-black-70: color-mix(in srgb, var(--white), transparent 70%);
  --color-alpha-black-80: color-mix(in srgb, var(--white), transparent 80%);
  --color-alpha-black-90: color-mix(in srgb, var(--white), transparent 90%);
  --color-alpha-black-100: color-mix(in srgb, var(--white), transparent 100%);
}
