@import 'tailwindcss';

@theme {
  --color-utility-orange-50: var(--orange-50);
  --color-utility-orange-100: var(--orange-100);
  --color-utility-orange-200: var(--orange-200);
  --color-utility-orange-300: var(--orange-300);
  --color-utility-orange-400: var(--orange-400);
  --color-utility-orange-500: var(--orange-500);
  --color-utility-orange-600: var(--orange-600);
  --color-utility-orange-700: var(--orange-700);

  --color-utility-gray-50: var(--gray-light-50);
  --color-utility-gray-100: var(--gray-light-100);
  --color-utility-gray-200: var(--gray-light-200);
  --color-utility-gray-300: var(--gray-light-300);
  --color-utility-gray-400: var(--gray-light-400);
  --color-utility-gray-500: var(--gray-light-500);
  --color-utility-gray-600: var(--gray-light-600);
  --color-utility-gray-700: var(--gray-light-700);
  --color-utility-gray-800: var(--gray-light-800);
  --color-utility-gray-900: var(--gray-light-900);

  --color-utility-brand-50: var(--brand-50);
  --color-utility-brand-50_alt: var(--brand-50);
  --color-utility-brand-100: var(--brand-100);
  --color-utility-brand-100_alt: var(--brand-100);
  --color-utility-brand-200: var(--brand-200);
  --color-utility-brand-200_alt: var(--brand-200);
  --color-utility-brand-300: var(--brand-300);
  --color-utility-brand-300_alt: var(--brand-300);
  --color-utility-brand-400: var(--brand-400);
  --color-utility-brand-400_alt: var(--brand-400);
  --color-utility-brand-500: var(--brand-500);
  --color-utility-brand-500_alt: var(--brand-500);
  --color-utility-brand-600: var(--brand-600);
  --color-utility-brand-600_alt: var(--brand-600);
  --color-utility-brand-700: var(--brand-700);
  --color-utility-brand-700_alt: var(--brand-700);
  --color-utility-brand-800: var(--brand-800);
  --color-utility-brand-800_alt: var(--brand-800);
  --color-utility-brand-900: var(--brand-900);
  --color-utility-brand-900_alt: var(--brand-900);

  --color-utility-error-50: var(--error-50);
  --color-utility-error-100: var(--error-100);
  --color-utility-error-200: var(--error-200);
  --color-utility-error-300: var(--error-300);
  --color-utility-error-400: var(--error-400);
  --color-utility-error-500: var(--error-500);
  --color-utility-error-600: var(--error-600);
  --color-utility-error-700: var(--error-700);

  --color-utility-warning-50: var(--warning-50);
  --color-utility-warning-100: var(--warning-100);
  --color-utility-warning-200: var(--warning-200);
  --color-utility-warning-300: var(--warning-300);
  --color-utility-warning-400: var(--warning-400);
  --color-utility-warning-500: var(--warning-500);
  --color-utility-warning-600: var(--warning-600);
  --color-utility-warning-700: var(--warning-700);

  --color-utility-success-50: var(--success-50);
  --color-utility-success-100: var(--success-100);
  --color-utility-success-200: var(--success-200);
  --color-utility-success-300: var(--success-300);
  --color-utility-success-400: var(--success-400);
  --color-utility-success-500: var(--success-500);
  --color-utility-success-600: var(--success-600);
  --color-utility-success-700: var(--success-700);

  --color-utility-gray-blue-50: var(--gray-blue-50);
  --color-utility-gray-blue-100: var(--gray-blue-100);
  --color-utility-gray-blue-200: var(--gray-blue-200);
  --color-utility-gray-blue-300: var(--gray-blue-300);
  --color-utility-gray-blue-400: var(--gray-blue-400);
  --color-utility-gray-blue-500: var(--gray-blue-500);
  --color-utility-gray-blue-600: var(--gray-blue-600);
  --color-utility-gray-blue-700: var(--gray-blue-700);

  --color-utility-blue-light-50: var(--blue-light-50);
  --color-utility-blue-light-100: var(--blue-light-100);
  --color-utility-blue-light-200: var(--blue-light-200);
  --color-utility-blue-light-300: var(--blue-light-300);
  --color-utility-blue-light-400: var(--blue-light-400);
  --color-utility-blue-light-500: var(--blue-light-500);
  --color-utility-blue-light-600: var(--blue-light-600);
  --color-utility-blue-light-700: var(--blue-light-700);

  --color-utility-blue-50: var(--blue-50);
  --color-utility-blue-100: var(--blue-100);
  --color-utility-blue-200: var(--blue-200);
  --color-utility-blue-300: var(--blue-300);
  --color-utility-blue-400: var(--blue-400);
  --color-utility-blue-500: var(--blue-500);
  --color-utility-blue-600: var(--blue-600);
  --color-utility-blue-700: var(--blue-700);

  --color-utility-blue-dark-50: var(--blue-dark-50);
  --color-utility-blue-dark-100: var(--blue-dark-100);
  --color-utility-blue-dark-200: var(--blue-dark-200);
  --color-utility-blue-dark-300: var(--blue-dark-300);
  --color-utility-blue-dark-400: var(--blue-dark-400);
  --color-utility-blue-dark-500: var(--blue-dark-500);
  --color-utility-blue-dark-600: var(--blue-dark-600);
  --color-utility-blue-dark-700: var(--blue-dark-700);

  --color-utility-indigo-50: var(--indigo-50);
  --color-utility-indigo-100: var(--indigo-100);
  --color-utility-indigo-200: var(--indigo-200);
  --color-utility-indigo-300: var(--indigo-300);
  --color-utility-indigo-400: var(--indigo-400);
  --color-utility-indigo-500: var(--indigo-500);
  --color-utility-indigo-600: var(--indigo-600);
  --color-utility-indigo-700: var(--indigo-700);

  --color-utility-purple-50: var(--purple-50);
  --color-utility-purple-100: var(--purple-100);
  --color-utility-purple-200: var(--purple-200);
  --color-utility-purple-300: var(--purple-300);
  --color-utility-purple-400: var(--purple-400);
  --color-utility-purple-500: var(--purple-500);
  --color-utility-purple-600: var(--purple-600);
  --color-utility-purple-700: var(--purple-700);

  --color-utility-fuchsia-50: var(--fuchsia-50);
  --color-utility-fuchsia-100: var(--fuchsia-100);
  --color-utility-fuchsia-200: var(--fuchsia-200);
  --color-utility-fuchsia-300: var(--fuchsia-300);
  --color-utility-fuchsia-400: var(--fuchsia-400);
  --color-utility-fuchsia-500: var(--fuchsia-500);
  --color-utility-fuchsia-600: var(--fuchsia-600);
  --color-utility-fuchsia-700: var(--fuchsia-700);

  --color-utility-pink-50: var(--pink-50);
  --color-utility-pink-100: var(--pink-100);
  --color-utility-pink-200: var(--pink-200);
  --color-utility-pink-300: var(--pink-300);
  --color-utility-pink-400: var(--pink-400);
  --color-utility-pink-500: var(--pink-500);
  --color-utility-pink-600: var(--pink-600);
  --color-utility-pink-700: var(--pink-700);

  --color-utility-orange-dark-50: var(--orange-dark-50);
  --color-utility-orange-dark-100: var(--orange-dark-100);
  --color-utility-orange-dark-200: var(--orange-dark-200);
  --color-utility-orange-dark-300: var(--orange-dark-300);
  --color-utility-orange-dark-400: var(--orange-dark-400);
  --color-utility-orange-dark-500: var(--orange-dark-500);
  --color-utility-orange-dark-600: var(--orange-dark-600);
  --color-utility-orange-dark-700: var(--orange-dark-700);
}
